<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <title>Email Notification Engine</title>
</head>
<body>
    <div class ="body">
      <h1>Email Notification Engine</h1>
      <p>
          A microservice built on sendgrid mail api.
      </p>
</body>

</html>